body{
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    display:flex;
    flex-direction: column;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
}

.choices div{
    background-color: whitesmoke;
    padding: 16px;
    margin: 20px;
    height: 325px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 3px 3px 5px gray;
}

.choices div:hover{
    background-color: darkgray;
}

.score{
    display:flex;
}