body{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Consolas, Geneva, Tahoma, sans-serif;
    background-color: rgb(98, 196, 163);
}

.container{
    display:flex;
    flex-direction: column;
}

.container h1{
    font-size: 46px;
    align-self: center;
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
}

.choices div{
    background-color: whitesmoke;
    padding: 16px;
    margin: 20px;
    height: 325px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    box-shadow: 3px 3px 5px gray;
}

.choices div:hover{
    background-color: darkgray;
}

.scoreBlocks{
    display:flex;
    justify-content: space-between;
}


.score{
    display:flex;

    
    font-size: 36px;
    font-weight: bold;
    color: black;

    border-radius: 4px;
    /* gap: 32px; */
}

.score h3{
    background-color: aquamarine;
    padding: 24px;

}

.score .playerScore,
.score .computerScore{
    background-color: rgb(255, 167, 226);
}

.result{
    font-size: 38px;
    align-self: center;
}